header.header
  .logo-global 
    img(src="/images/iMove_logo.png").logo
  .tabs-global
    nav.menuNav 
      ul.tabList 
        li.tab
          a(href="/") Home
        li.tab
          .dropdown
            button.dropdown-button Transportes 
            .dropdown-options
              .dropdown-options-child
                a(href="/transportePublico") Públicos
                a(href="/transportePrivado") Privados
        li.tab
          a(href="/noticias/") Noticias