doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/commonStyles.css')
    link(rel='stylesheet', href='/stylesheets/#{css_title}.css')