doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/horariointerurbanos.css')
  body
    block content



  
  .body
    .container
      h1 Horarios
      .line-search
        input(type="text", placeholder="Linea").inpt
      .lines
        .line
          .line-number 151
          .line-info Madrid (Plaza de Castilla)-Alcobendas
        .line
          .line-number 152C
          .line-info Madrid (Plaza de Castilla)-S.S. de los Reyes (Dehesa Vieja)
        .line
          .line-number 153
          .line-info Madrid (Plaza de Castilla)-Alcobendas-Rosa Luxemburgo
        .line
          .line-number 154C
          .line-info Madrid (Plaza de Castilla)-S.S. de los Reyes (Avda. de los Quiñones)