doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/horarioMetro.css')
  body
    block content

  
  .body
    .container
      h1 Horarios
      .line-search
        input(type="text", placeholder="Linea").inpt
      .lines
        .line
          .line-number 11
          .line-info Albantes
        .line
          .line-number 8
          .line-info Aeropuerto T1-T2-T3
        .line
          .line-number 12
          .line-info Alcorcon central
        .line
          .line-number 5
          .line-info Aluche