doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/horariourbanos.css')
  body
    block content


  .body
    .container
      h1 Horarios
      .line-search
        input(type="text", placeholder="Linea").inpt
      .lines
        .line
          .line-number 46
          .line-info Puerta del sol/Sevilla-Moncloa
        .line
          .line-number 10
          .line-info Plaza de cibeles-Palomeras
        .line
          .line-number 4
          .line-info Plaza de ciudad lineal-Puerta de Arganda
        .line
          .line-number 25
          .line-info Plaza de España-Casa de campo