doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/horarioRenfe.css')
  body
    block content


  .body
    .container
      h1 Horarios
      .line-search
        input(type="text", placeholder="Linea").inpt
      .lines
        .line
          .line-number C1
          .line-info Aeropuerto
        .line
          .line-number C2
          .line-info Alcala Henares Universidad
        .line
          .line-number C2
          .line-info Alacala de henares
        .line
          .line-number C5
          .line-info Alcorcon