extends layout


block content

  head 
    link(rel='stylesheet', href='../public/cssFA/all.min.css')

  header.header
    .logo-global 
      img(src="../public/images/iMove_logo.png").logo
    .tabs-global
      nav.menuNav 
        ul.tabList 
          li.tab
            a(href="#") Home
          li.tab
            a(href="#") Transportes
          li.tab
            a(href="#") Blog
  .body 
    .body-global 
      .body-text 
        .body-text-title 
          i.fa-car-side
          h1 #{titleViajes}
        .body-text-description
          p #{lorem}
      .body-container
        .body-container-child   
          input(type="text", placeholder="Selecciona tu Destino...")


