extends layout

block content

  header.header
    .logo-global 
      img(src="../public/images/ciudadFondo.png")
    .tabs-global
      nav.menuNav 
        ul.tabList 
          li.tab
            a(href="#") Home
          li.tab
            a(href="#") Transportes
          li.tab
            a(href="#") Blog
  .body 
    .body-global 
      .body-text 
        .body-text-title 
          h1 #{titleViajes}
        .body-text-description
          p #{lorem}
      .body-container
        .body-container-child   
          input(type="text", placeholder="Selecciona tu Destino...")


