- css_title= "style"

include head.jade
  body
    include header.jade 
    .body 
      .body-global 
        .body-text 
          .body-text-title 
            i.fa-car-side
            h1 #{titleViajes}
          .body-text-description
            p #{lorem}
        .body-container
          .body-container-child   
            input(type="text", placeholder="Selecciona tu Destino...")
