
doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/commonStyles.css')
  body
    block content

  .body
    .container
      h2 Bienvenido a iMove
      p Descubre la mejor manera de combinar transportes públicos y privados para tu comodidad, desde nuestra pagina te ofrecemos multiples funciones que podras usar para la mejora y eficacia de su transporte, nuestra pagina cuenta con ayuda tanto para el transporte publico como para el privado includo pudiendo solicitar este ultimo con mas de una empresa.
      h2 Sobre Nosotros
      p Nuestra aplicación se dedica a ofrecer soluciones innovadoras para integrar diferentes medios de transporte, facilitando tus desplazamientos diarios.
      p Gracias a las mejores Apis nuestros tiempos son precisos y exactos, olvidate de volver a esperar tu transporte.
      p Con un equipo de expertos en movilidad y tecnología, estamos comprometidos a proporcionar una experiencia de usuario excepcional.
      p Trabajamos para su comodidida y por su tiempo.
      h2 Servicios
      ul
        li Integración de rutas de autobuses, metro y renfe.
        li Multiples opciones de transporte privado y compartido para su comodidad.
        li Planificación de viajes personalizados para una llegada mas rapida a su destino.


