- css_title= "metro"

include head.jade
  body
    include header.jade
    .body
      .app
        .headerCercanias
          h1 Metro
      .options
        .horarioRenfe
          button.horarioRenfe-button
            img(src="/images/clockIconWhite.png", alt="").clockIcon
          p Horario
        .planoRenfe
          button.planoRenfe-button
            img(src="/images/mapIcon.svg", alt="").mapIcon
          p Planos
      .paradas
        input(type='text', placeholder='Nombre de parada').input

      ul.station-list
          li.station
            a.stationLink(href="/transportePublico/renfe/paradaRenfe")
              img(src="/images/renfeLogo.png", alt="").icon
              .station-name
              .station-number 
  