- css_title= "noticias"

include head.jade
  body
    include header.jade
    .container
      h1.page-title Nuestras noticias
      .news-container
        .news-item
          .news-content
            .news-content-img 
              img(src="/images/imgNoticias.webp", alt="").img-noticias
            .news-content-data
              .news-content-titleDate
                h1.news-title La Comunidad de Madrid aumenta el servicio de varias líneas de autobuses para facilitar la conexión de tres municipios con la capital
                p.news-date 04/05/24
              .news-content-descrip
                p.news-description La Consejería de Vivienda, Transportes e Infraestructuras también ha firmado esta semana convenios con otras localidades para mejorar el mobiliario urbano
        hr.divider
        .news-item
          .news-content
            .news-content-img 
              img(src="/images/imgNoticias.webp", alt="").img-noticias
            .news-content-data
              .news-content-titleDate
                h1.news-title La Comunidad de Madrid aumenta el servicio de varias líneas de autobuses para facilitar la conexión de tres municipios con la capital
                p.news-date 04/05/24
              .news-content-descrip
                p.news-description La Consejería de Vivienda, Transportes e Infraestructuras también ha firmado esta semana convenios con otras localidades para mejorar el mobiliario urbano
        hr.divider
        