doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/noticias.css')
  body
    block content

  header.header
    .logo-global 
      img(src="../public/images/iMove_logo.png").logo
    .tabs-global
      nav.menuNav 
        ul.tabList 
          li.tab
            a(href="#") Home
          li.tab
            a(href="#") Transportes
          li.tab
            a(href="#") Noticias

  .body
    .title-cotainer
    h1 #{title}
      .news-container
      .news-item

        .news-content
        

          
 
