doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/noticias.css')
  body
    block content

  header.header
    .logo-global 
      img(src="../public/images/iMove_logo.png").logo
    .tabs-global
      nav.menuNav 
        ul.tabList 
          li.tab
            a(href="../") Home
          li.tab
            a(href="#") Transportes
          li.tab
            a(href="#") Noticias
  .container
  h1.page-title Nuestras Noticias
    .news-container
      .news-item
      
        .news-content
          h2.news-title La Comunidad de Madrid aumenta el servicio de varias líneas de autobuses para facilitar la conexión de tres municipios con la capital
          p.news-date 04/05/24
          p.news-description La Consejería de Vivienda, Transportes e Infraestructuras también ha firmado esta semana convenios con otras localidades para mejorar el mobiliario urbano
      hr.divider
      .news-item
        .news-content
          h2.news-title La Comunidad de Madrid y la Unión Internacional de Transporte Público trabajarán conjuntamente en el fomento de políticas de movilidad sostenible
          p.news-date 25/04/24
          p.news-description El consejero de Vivienda, Transportes e Infraestructuras, Jorge Rodrigo, ha mantenido un encuentro en la sede la Consejería con representantes de la UITP, donde han analizado la actualidad del sector
      hr.divider
      .news-item
        .news-content
          h2.news-title La Comunidad de Madrid aprueba invertir 450 millones para la compra de 40 nuevos trenes de Metro
          p.news-date 24/04/24
          p.news-description El Consejo de Gobierno ha conocido hoy la propuesta de adjudicación de la empresa pública a la compañía CAF para fabricar este material móvil

          
 
