- css_title= "paradaMetro"

include head.jade
  body
    include header.jade 
    .body 
      .body-global 
        .body-child-superior
          .datosParada
            .nombreParada-padre
              h1 Titulo
            .numerosLineas
                .numLinea-padre 
                  p 3

        .body-child-inferior 
          .text-superior  
            p Tiempo real
          .card-inferior
            .card-inferior-left
              .numLinea2
                p n1
            .card-inferior-right
              .nombreParada-parent
                p.nombreParada Humanes
              .container-tiempos 
                .tiempo-parent
                  p.tiempo 10 min