- css_title= "paradaRenfe"

include head.jade
  body
    include header.jade 
    .body 
      .body-global 
        .body-child-superior
          .datosParada
            .nombreParada-padre
              h1 #{stopCard.STOP_NAME}
            .numerosLineas
              each route in stopCard.ROUTE_LIST
                .numLinea-padre 
                  p #{route.ROUTE_SHORT_NAME}

        .body-child-inferior 
          .text-superior  
            p Tiempo real
          .card-inferior
            .card-inferior-left
              .numLinea2
                p n1
            .card-inferior-right
              .nombreParada-parent
                p.nombreParada Humanes
              .container-tiempos 
                .tiempo-parent
                  p.tiempo 10 min


