- css_title= "renfe"

include head.jade
  body
    include header.jade
    .body
      .app
        .headerCercanias
          h1 Cercanias
      .options
        .planoRenfe
          button.planoRenfe-button
            img(src="/images/mapIcon.svg", alt="").mapIcon
          p Planos
      .paradas
        input(type='text', placeholder='Nombre de parada').input

      ul.station-list
        each stop in stops
          li.station
            a.stationLink(href="/transportePublico/renfe/paradaRenfe")
              img(src="/images/renfeLogo.png", alt="").icon
              .station-name #{stop.STOP_NAME}
              .station-number #{stop.STOP_ID}
  