doctype html
html
  head
    title= "iMove"
    link(rel='stylesheet', href='/stylesheets/renfe.css')
  body
    block content
    .app
      .header
        h1 Cercanias
    .options
      button.horario Horario
    .paradas
      input(type='text', placeholder='Nombre de parada').input

    ul.station-list
      each stop in stops
        li.station
          img(src="/images/metro.png", alt="").icon
          .station-name #{stop.STOP_NAME}
          .station-number #{stop.STOP_ID}
  