- css_title= "renfe"

include head.jade
  body
    include header.jade
    .body
      .app
        .headerCercanias
          h1 Cercanias
      .options
        .planoRenfe
          button.planoRenfe-button
            img(src="/images/mapIcon.svg", alt="").mapIcon
          p Planos
      .paradas
        input(type='text', placeholder='Nombre de parada').input

      form(method="get", action="/transportePublico/renfe/paradaRenfe")
        ul.station-list
          each stop in stops
            li.station
              button.stationLink(type="submit", name="stop_id", value="#{stop.STOP_ID}")
                img(src="/images/renfeLogo.png", alt="").icon
                .station-name #{stop.STOP_NAME}
                each route in stopRoutes[stop.STOP_ID]
                  .station-number(style="background-color: \##{route.ROUTE_COLOR}") #{route.ROUTE_SHORT_NAME}
  