- css_title= "transportePrivado"

include head.jade
  body
    include header.jade 
    .body 
      .body-global
          .tabs
              a.uberTab(href="https://www.uber.com/es/es-es/")
                img(src="/images/uberLogo.webp", alt="")
              a.cabifyTab(href="https://cabify.com/es")
                img(src="/images/cabifyLogo.svg", alt="")


  
  script(src="/js/pop-ups.js") 

