- css_title= "transportePublico"

include head.jade
  body
    include header.jade 
    .body 
      .body-global
          .tabs
              a.interurbanosTab(href="/transportePublico/interurbanos")
                img(src="/images/busIcon.png", alt="")
              a.emtTab(href="/transportePublico/urbanos")
                img(src="/images/logoEMT.svg", alt="")
              a.metroTab(href="/transportePublico/metro")
                img(src="/images/metroWhite.png", alt="")
              a.renfeTab(href="/transportePublico/renfe")
                img(src="/images/renfeLogo.png", alt="")
