- css_title= "transportePublico"

include head.jade
  body
    include header.jade 
    .body 
      .body-global
          .tabs
              a.interurbanosTab(href="#")
                img(src="/images/busIcon.png", alt="")
              a.emtTab(href="#")
                img(src="/images/logoEMT.svg", alt="")
              a.metroTab(href="#")
                img(src="/images/metroWhite.png", alt="")
              a.renfeTab(href="#")
                img(src="/images/renfeLogo.png", alt="")
