- css_title= "urbanos"

include head.jade
  body
    include header.jade
    .body
      .container
          .search-bar
              input(type="text", placeholder=placeholderText).inp
              button.bus= buttonTextSearch
          p= instructionText1
          p= instructionText2
          .button-container
              .planoUrbanos
                button.planoUrbanos-button
                  img(src="/images/mapIcon.svg", alt="").mapIcon
                p Planos