@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&family=Roboto+Mono&display=swap');

body{
    width: 100%;
    height: 100%;
    background-color: gray;
}

.body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.25rem; 
}

  
.page-title  {
    color: #fff;
    margin-bottom: 4rem; 
    text-align: center;
}
  
.news-container {
    display: flex;
    flex-direction: column;
}
  
.news-item {
    display: flex;
    align-items: flex-start;
    background-color: #262626;
    margin-bottom: 1.25rem; 
    padding: 0.9375rem; 
    border-radius: 0.625rem; 
    transition: transform 0.2s, box-shadow 0.2s;
}
  
.news-item:hover {
    transform: translateY(-0.3125rem); 
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1); 
}
  
.news-item .ima {
    width: 9.375rem; 
    height: auto;
    border-radius: 0.3125rem; 
    margin-right: 0.9375rem; 
}
  
.news-content {
    display: flex;
    flex-direction: column;
}
  
.news-title {
    color: #1e90ff;
    margin-bottom: 0.625rem; 
    font-size: 1.125rem; 
}
  
.news-date {
    font-weight: bold;
    color: #888;
    margin-bottom: 0.3125rem; 
}
  
.news-description {
    color: #ccc;
    font-size: 0.875rem; 
}
  
.divider {
    border: 0;
    height: 0.25rem;
    background: #444;
    margin: 1.25rem 0; 
}
  