body{
    background-color: rgb(23, 21, 21);
}

.body{
    width: 100%;
    height: max-content;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.body-global{
    background-color: #0e0e0e;
    width: 40rem;
    height: max-content;
    min-height: 22rem;
    border-radius: 20px;
    opacity: 0.9;
    margin-top: 5em;
    margin-bottom: 5em;
}

.body-child-superior{
    height: max-content;
    background-color: #833737;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}

.datosParada{
    height: max-content;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.nombreParada-padre > h1{
    font-family: system-ui;
    color: white;
    font-size: 14px;
}

.numerosLineas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.numLinea-padre{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1em;
}

.numLinea-padre > span{
    border-radius: 3px;
    padding: 0.2em;
    width: 100%;
    text-align: center;
    color: white;
    
}

.body-child-inferior{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2em;
}

.text-superior{
    height: 1.5rem;
    width: 6rem;
    margin-left: 2rem;
    align-items: flex-end;
    display: flex;
}

.text-superior > p{
    color: white;
    font-family: system-ui;
    font-size: 12px;
    margin: 0;
}

.card-inferior{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.3rem;
    background-color: #181818;
}

.card-inferior-left{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numLinea2{
    background-color: #e71414;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.numLinea2 > p{
    margin: 0;
    color: white;
    font-family: system-ui;
    font-weight: bolder;
}

.card-inferior-right{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nombreParada-parent{
    height: 40%;
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
    margin-top: 0.3rem;
}


.nombreParada{
    color: white;
    font-family: system-ui;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.container-tiempos{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.tiempo-parent{
    width: 4rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.3rem;
    margin-left: 0.96rem;
}

.tiempo{
    font-family: system-ui;
    color: rgb(224, 224, 224);
    font-size: 12px;
}

#warning_no_data{
    color: white;
    font-family: Montserrat;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#warning_no_data > p{
    text-align: center;
}