/*--------INDEX------------*/

body {
  background-image: url(../images/ciudadFondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.body-global{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-text{
  width: 50%;
  color: white;
  font-family: Montserrat;
  text-shadow: 3px 3px 12px rgb(0, 0, 0);
  margin-top: 10rem;
}

.body-text-description{
  width: 80%;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: white; 
  border-radius: 1.5625rem; 
  overflow: hidden;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); 
}

.textoinp {
  background-color: white;
  border: none;
  padding: 0.625rem 1.25rem; 
  border-radius: 1.5625rem 0 0 1.5625rem; 
  outline: none;
  flex: 1;
}

.boto{
  background-color: white; 
  border: none;
  padding: 0.625rem; 
  border-radius: 0 1.5625rem 1.5625rem 0; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lupa {
  width: 1.25rem; 
  height: 1.25rem; 
}





