@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&family=Roboto+Mono&display=swap');

/*--------INDEX------------*/

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  background-color: rgb(23, 21, 21);
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h2 {
  color: wheat;
}

p {
  color: whitesmoke;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}


.body {
  text-align: start;
  padding-top: 3.125rem;
}

.container h2 {
  font-size: 1.75rem;
  margin-bottom: 0.9375rem;
}

.container p {
  font-size: 1rem;
  line-height: 1.6;
}

.container ul li:before {
  content: "\2022";
  color: #4CAF50;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: 1rem;
}

.container ul li {
  color: whitesmoke;
}

.busImg{
  width: 20rem;
  margin-right: 0.5rem;
}

.bienvenida{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

}

.bienvenida-text{
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.about_Us-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.aboutUs_icon{
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.7rem;
}