@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&family=Roboto+Mono&display=swap');

/*--------INDEX------------*/

body {
  background-image: url(../images/ciudadFondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.body-global{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-text{
  width: 50%;
  color: white;
  font-family: Montserrat;
  text-shadow: 3px 3px 12px rgb(0, 0, 0);
  margin-top: 10rem;
}

.body-text-description{
  width: 80%;
}

.logo{
  width: 6rem;
  height: 2rem;

}

.fa-car-side{
  width: 10rem;
  height: 10rem;
}




