body{
    background-color: rgb(23, 21, 21);
}

.body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.body-global{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    background-color: rgba(33, 33, 33, 0.8);
    height: 18rem;
    width: 80%;
    border-radius: 15px;
}

.tabs > a{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.tabs > a:hover {
    transform: scale(1.05); /* Escala el botón a 1.05 veces su tamaño original */
}


.uberTab{
    background-color: #000000;
    border-radius: 15px;
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uberTab > img{
    width: 45%;
    height: 15%;
}

.cabifyTab{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabifyTab > img{
    width: 45%;
    height: 45%;
}